<!-- <footer class="bg-gray-400 shadow sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-16">
      <a href="" class="text-xl font-bold text-gray-800">
        HSG Fitness Community
      </a>

      <p class="text-l font-bold text-gray-800">
        © 2026 HSG Fitness Community | Developed by Yesterianus Kaladana
      </p>
    </div>
  </div>
</footer> -->
